.formShowcase{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    margin: 1.2rem;
    /* padding: 1.2rem; */
}

.formShowcase > label{
    margin-left: 1.2rem ;
    margin-top: 1.2rem;
}


.addProductSubmitBtn{
    display: block;
    margin: 1.2rem auto;

}